@charset "UTF-8";
@import url(reset.css);
@import url(style.css);
@import url(style2.css);
@import url(style3.css);
@import url(style5.css);
@import url(style6.css);
@import url(fonts.css);
.ab-choose .ab-choose-title {
  text-align: center; }
  .ab-choose .ab-choose-title span {
    color: #2f2f2d;
    font-family: "OpenSans", sans-serif;
    font-size: 38px; }
.ab-choose .ab-img-box {
  text-align: center;
  padding-top: 47px; }
  .ab-choose .ab-img-box .ab-line {
    display: none; }
  .ab-choose .ab-img-box img {
    margin: 0 auto; }
  .ab-choose .ab-img-box .ab-choose-number {
    text-align: center; }
    .ab-choose .ab-img-box .ab-choose-number span {
      color: #ff8f01;
      font-family: "OpenSans-LightOpenSans-Light";
      font-size: 60px; }
  .ab-choose .ab-img-box .ab-choosw-txt span {
    color: #302F2D;
    font-family: "OpenSans", sans-serif;
    font-size: 15px;
    text-transform: uppercase; }

/* Sub-menu ===============================*/
.dd-sub-menu-wrap {
  border-top: 2px solid #FEB715;
  background: #fff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  padding-bottom: 24px; }
  .dd-sub-menu-wrap .dd-sub-menu ul li {
    width: 180px;
    height: 40px;
    padding-left: 70px;
    margin: 35px auto; }
    .dd-sub-menu-wrap .dd-sub-menu ul li a {
      font-family: "OpenSans-Regular";
      font-size: 16px;
      color: #54524E;
      line-height: 36px;
      transition: 0.5s; }
    .dd-sub-menu-wrap .dd-sub-menu ul li a:hover {
      color: #FFA730;
      text-decoration: underline; }
  .dd-sub-menu-wrap .dd-sub-menu ul li:nth-child(1) {
    background: url(../img/s1.jpg) no-repeat left center; }
  .dd-sub-menu-wrap .dd-sub-menu ul li:nth-child(2) {
    background: url(../img/s2.jpg) no-repeat left center; }
  .dd-sub-menu-wrap .dd-sub-menu ul li:nth-child(3) {
    background: url(../img/s3.jpg) no-repeat left center; }
  .dd-sub-menu-wrap .dd-sub-menu ul li:nth-child(4) {
    background: url(../img/s4.jpg) no-repeat left center; }
  .dd-sub-menu-wrap .dd-sub-menu ul li:nth-child(5) {
    background: url(../img/s5.jpg) no-repeat left center; }
  .dd-sub-menu-wrap .dd-sub-menu ul li:nth-child(6) {
    background: url(../img/s6.jpg) no-repeat left center; }
  .dd-sub-menu-wrap .dd-sub-menu ul li:nth-child(7) {
    background: url(../img/s7.jpg) no-repeat left center; }
  .dd-sub-menu-wrap .dd-sub-menu ul li:nth-child(8) {
    background: url(../img/s8.jpg) no-repeat left center; }

/*=========================================*/
/* Cat-menu ===============================*/
.no-padding {
  padding-left: 0;
  padding-right: 0; }

.dd-cat-menu-wrap {
  background: #ECECEC; }
  .dd-cat-menu-wrap .dd-cat-menu ul li {
    width: 276px;
    margin: 0 auto; }
    .dd-cat-menu-wrap .dd-cat-menu ul li a {
      display: inline-block;
      font-family: 'MarckScript-Regular';
      padding: 15px 0 15px 65px;
      font-size: 24px;
      color: #6c4904;
      transition: 0.5s; }
    .dd-cat-menu-wrap .dd-cat-menu ul li .dd-any-padding {
      padding: 15px 0 15px 54px; }
    .dd-cat-menu-wrap .dd-cat-menu ul li a:hover {
      color: #FFA730; }
  .dd-cat-menu-wrap .dd-cat-menu ul li:nth-child(1) {
    background: url(../img/m2.png) no-repeat left center; }
  .dd-cat-menu-wrap .dd-cat-menu ul li:nth-child(2) {
    background: url(../img/m1.png) no-repeat left center; }
  .dd-cat-menu-wrap .dd-cat-menu ul li:nth-child(3) {
    background: url(../img/m3.png) no-repeat left center; }
  .dd-cat-menu-wrap .dd-cat-menu ul li:nth-child(4) {
    background: url(../img/m4.png) no-repeat left center; }
  .dd-cat-menu-wrap .dd-cat-menu ul li:nth-child(5) {
    background: url(../img/m5.png) no-repeat left center; }

/*=========================================*/
/* cols chgoose2 =========================*/
.dd-col-img1, .dd-col-img2, .dd-col-img3, .dd-col-img4 {
  border-left: 1px solid #DADADA;
  height: 70px; }
  .dd-col-img1 .dd-sailas, .dd-col-img2 .dd-sailas, .dd-col-img3 .dd-sailas, .dd-col-img4 .dd-sailas {
    width: 176px;
    margin: 0 auto; }
    .dd-col-img1 .dd-sailas img, .dd-col-img2 .dd-sailas img, .dd-col-img3 .dd-sailas img, .dd-col-img4 .dd-sailas img {
      float: left; }
    .dd-col-img1 .dd-sailas .dd-div-span, .dd-col-img2 .dd-sailas .dd-div-span, .dd-col-img3 .dd-sailas .dd-div-span, .dd-col-img4 .dd-sailas .dd-div-span {
      float: left; }
      .dd-col-img1 .dd-sailas .dd-div-span span, .dd-col-img2 .dd-sailas .dd-div-span span, .dd-col-img3 .dd-sailas .dd-div-span span, .dd-col-img4 .dd-sailas .dd-div-span span {
        display: inline-block; }
      .dd-col-img1 .dd-sailas .dd-div-span .dd-f-span, .dd-col-img2 .dd-sailas .dd-div-span .dd-f-span, .dd-col-img3 .dd-sailas .dd-div-span .dd-f-span, .dd-col-img4 .dd-sailas .dd-div-span .dd-f-span {
        font-family: "OpenSans-Bold";
        color: #FF9002;
        padding-left: 10px; }
        .dd-col-img1 .dd-sailas .dd-div-span .dd-f-span span, .dd-col-img2 .dd-sailas .dd-div-span .dd-f-span span, .dd-col-img3 .dd-sailas .dd-div-span .dd-f-span span, .dd-col-img4 .dd-sailas .dd-div-span .dd-f-span span {
          font-family: "OpenSans-Regular";
          color: #302F2D;
          padding-left: 3px; }

.dd-col-img4 {
  border-right: 1px solid #DADADA; }

.dd-col-img2 .dd-sailas .dd-div-span, .dd-col-img3 .dd-sailas .dd-div-span, .dd-col-img4 .dd-sailas .dd-div-span {
  padding-top: 16px; }

.dd-col-img1 {
  padding-top: 10px; }
  .dd-col-img1 .dd-sailas img {
    width: 90px;
    height: 46px; }
  .dd-col-img1 .dd-sailas .dd-div-span {
    padding-top: 8px; }

.dd-col-img2 img {
  height: 58px;
  width: 80px; }

.dd-col-img3 img {
  height: 58px;
  width: 87px; }

.dd-col-img4 img {
  height: 58px;
  width: 87px; }

/*=========================================*/
/* brad-crumps ============================*/
.dd-brad-crumps {
  margin-top: 29px; }
  .dd-brad-crumps a, .dd-brad-crumps span {
    font-family: "OpenSans-Regular";
    color: #B1B0AD;
    font-size: 13px; }
  .dd-brad-crumps a {
    text-decoration: underline; }

/*=========================================*/
/* sidebar ================================*/
.dd-sidebar-wrap #menuslides {
  margin: 0;
  padding: 0;
  list-style: none; }
  .dd-sidebar-wrap #menuslides .dd-side-title {
    font-family: "OpenSans-LightOpenSans-Light";
    text-transform: uppercase;
    color: #414042;
    font-size: 14px;
    background: #FEB715 url(../img/side1.png) no-repeat left 10px top 12px;
    height: 56px;
    display: inline-block;
    width: 100%;
    padding-top: 18px;
    padding-left: 82px;
    text-transform: uppercase;
    transition: 0.5s;
    border-top: 5px solid #fff;
    border-bottom: none; }
  .dd-sidebar-wrap #menuslides .dd-side-title:hover {
    background: #FFDD3B url(../img/side1.png) no-repeat left 10px top 12px; }
  .dd-sidebar-wrap #menuslides .dd-side-title2 {
    background: #FEB715 url(../img/side2.png) no-repeat left 10px top 12px; }
  .dd-sidebar-wrap #menuslides .dd-side-title2:hover {
    background: #FFDD3B url(../img/side2.png) no-repeat left 10px top 12px; }
  .dd-sidebar-wrap #menuslides .dd-side-title3 {
    background: #FEB715 url(../img/side3.png) no-repeat left 10px top 12px; }
  .dd-sidebar-wrap #menuslides .dd-side-title3:hover {
    background: #FFDD3B url(../img/side3.png) no-repeat left 10px top 12px; }
  .dd-sidebar-wrap #menuslides .dd-side-title4 {
    border-top: none; }
.dd-sidebar-wrap #menuslides li {
  display: block;
  background: #63615D; }
.dd-sidebar-wrap #menuslides li a {
  border-bottom: #63615D 1px solid;
  font-family: "OpenSans-Regular";
  font-size: 15px;
  display: block;
  padding: 10px;
  color: #fff;
  text-align: left;
  text-decoration: none; }
  .dd-sidebar-wrap #menuslides li a span {
    color: #7C7A76; }
.dd-sidebar-wrap #menuslides ul {
  display: none;
  margin: 0;
  padding: 0;
  list-style: none; }
.dd-sidebar-wrap #menuslides ul a {
  display: block;
  padding: 10px;
  color: #fff; }
.dd-sidebar-wrap #menuslides .menuslides li a {
  height: 36px;
  padding: 5px 5px 5px 20px;
  background: #54524E;
  transition: 0.5s; }
.dd-sidebar-wrap #menuslides .menuslides li a:hover {
  background: #6E6C68; }
.dd-sidebar-wrap .dd-side-img1 {
  height: 386px;
  width: 263px;
  margin: 30px auto;
  position: relative; }
  .dd-sidebar-wrap .dd-side-img1 .ah-schet {
    position: absolute;
    width: 100%;
    text-align: center;
    bottom: 0; }
  .dd-sidebar-wrap .dd-side-img1 .ah-schet-span {
    display: block;
    font-family: "OpenSans-Regular";
    color: #928779;
    font-size: 16px;
    margin-bottom: 0px; }
  .dd-sidebar-wrap .dd-side-img1 #clockdiv {
    width: 100%;
    height: 77px; }
    .dd-sidebar-wrap .dd-side-img1 #clockdiv li {
      display: inline-block; }
  .dd-sidebar-wrap .dd-side-img1 .ah-schet-wrapp-span {
    background: url(../img/it.png) center center no-repeat;
    width: 32px;
    height: 64px;
    font-family: "OpenSans-Regular";
    color: #414042;
    font-size: 28px;
    text-align: center;
    line-height: 64px; }
  .dd-sidebar-wrap .dd-side-img1 .ah-schet-wrapp-el {
    font-family: "OpenSans-Regular";
    padding: 0px 0px;
    color: #414042;
    font-size: 42px;
    text-align: center;
    line-height: 64px; }
.dd-sidebar-wrap .dd-side-ramka {
  background: #FAFAFA url(../img/ramka.png) center no-repeat;
  width: 100%;
  height: 704px; }
  .dd-sidebar-wrap .dd-side-ramka .dd-side-ramka-title {
    width: 210px;
    margin: 0 auto;
    text-align: center;
    padding-top: 17px;
    padding-bottom: 30px; }
    .dd-sidebar-wrap .dd-side-ramka .dd-side-ramka-title span {
      font-family: "OpenSans-Semibold";
      font-size: 20px;
      text-transform: uppercase;
      color: #414042; }
  .dd-sidebar-wrap .dd-side-ramka .dd-img {
    width: 252px;
    margin: 0 auto;
    text-align: center; }
    .dd-sidebar-wrap .dd-side-ramka .dd-img span {
      display: inline-block;
      font-family: "OpenSans-Regular";
      font-size: 14px;
      text-transform: uppercase;
      color: #6A6A6A; }
  .dd-sidebar-wrap .dd-side-ramka .dd-img:nth-child(2) {
    margin-bottom: 25px; }
  .dd-sidebar-wrap .dd-side-ramka .dd-img:nth-child(3) {
    margin-bottom: 25px; }
  .dd-sidebar-wrap .dd-side-ramka .dd-img:nth-child(4) {
    margin-bottom: 25px; }
    .dd-sidebar-wrap .dd-side-ramka .dd-img:nth-child(4) span {
      padding-top: 1px; }
.dd-sidebar-wrap .dd-otziv {
  margin-top: 30px; }
  .dd-sidebar-wrap .dd-otziv .dd-otziv-title {
    font-family: "OpenSans-LightOpenSans-Light";
    font-size: 32px;
    background: #FAFAFA url(../img/mazok.png) center no-repeat;
    width: 263px;
    height: 49px;
    padding-left: 20px; }
  .dd-sidebar-wrap .dd-otziv .dd-wrap-ot {
    border-bottom: 1px solid #D2D2D2;
    padding-top: 20px;
    padding-bottom: 23px; }
    .dd-sidebar-wrap .dd-otziv .dd-wrap-ot .dd-img-txt .dd-img {
      float: left;
      width: 40px;
      height: 40px;
      background: #2B2B2B;
      margin-top: 2px; }
    .dd-sidebar-wrap .dd-otziv .dd-wrap-ot .dd-img-txt .dd-txt {
      float: left;
      padding-left: 10px; }
      .dd-sidebar-wrap .dd-otziv .dd-wrap-ot .dd-img-txt .dd-txt span:first-child {
        font-family: "OpenSans-Semibold";
        font-size: 16px;
        color: #2B2B2B; }
      .dd-sidebar-wrap .dd-otziv .dd-wrap-ot .dd-img-txt .dd-txt span:last-child {
        font-family: "OpenSans-Regular";
        font-size: 13px;
        color: #808285; }
    .dd-sidebar-wrap .dd-otziv .dd-wrap-ot .dd-main-txt {
      padding-top: 11px;
      font-family: "OpenSans-Regular";
      font-size: 13px;
      color: #808285;
      padding-bottom: 11px; }
    .dd-sidebar-wrap .dd-otziv .dd-wrap-ot a {
      font-family: "OpenSans-Regular";
      display: inline-block;
      text-decoration: underline;
      color: #65AEB4;
      font-size: 13px; }
  .dd-sidebar-wrap .dd-otziv .border-none {
    border-bottom: none; }
  .dd-sidebar-wrap .dd-otziv .dd-side-button {
    text-align: center; }
    .dd-sidebar-wrap .dd-otziv .dd-side-button a {
      display: inline-block;
      border-radius: 4px;
      width: 263px;
      height: 30px;
      border: 1px solid #4DA1A9;
      background: #EFFCFD;
      font-family: "OpenSans-Regular";
      font-size: 16px;
      color: #58A7AF;
      line-height: 25px; }
  .dd-sidebar-wrap .dd-otziv .dd-all-button {
    text-align: right;
    padding-top: 16px; }
    .dd-sidebar-wrap .dd-otziv .dd-all-button a {
      font-family: "OpenSans-Regular";
      font-size: 13px;
      color: #58A7AF;
      text-decoration: underline; }

/*=============================================*/
/* Category main ==============================*/
.dd-category-title {
  margin: 10px 0px; }
  .dd-category-title h1 {
    font-family: "OpenSans-LightOpenSans-Light";
    font-size: 36px;
    color: #414042;
    padding-bottom: 14px; }

.dd-options-wrap {
  padding: 6px 6px 1px;
  background: #F2F2F2;
  margin-bottom: 18px; }
  .dd-options-wrap .dd-plitka {
    background: url(../img/pl1.png) no-repeat center;
    border-radius: 4px;
    width: 24px;
    height: 24px;
    display: inline-block; }
  .dd-options-wrap .dd-plitka2 {
    background: url(../img/pl2.png) no-repeat center; }
  .dd-options-wrap .dd-plitka:hover {
    background: url(../img/pl3.png) no-repeat center; }
  .dd-options-wrap .dd-plitka2:hover {
    background: url(../img/pl4.png) no-repeat center; }
  .dd-options-wrap a, .dd-options-wrap span {
    display: inline-block; }
  .dd-options-wrap span {
    font-family: "OpenSans-Semibold";
    font-size: 13px;
    color: #4C4C47; }
  .dd-options-wrap a {
    font-family: "OpenSans-Semibold";
    font-size: 13px;
    color: #FF9002; }
  .dd-options-wrap .dd-color-choose a {
    width: 18px;
    height: 18px;
    border-radius: 9px; }
  .dd-options-wrap .dd-color-choose a:nth-child(2) {
    background: #980E0E; }
  .dd-options-wrap .dd-color-choose a:nth-child(3) {
    background: #FEB715; }
  .dd-options-wrap .dd-color-choose a:nth-child(4) {
    background: #88AD38; }
  .dd-options-wrap .dd-color-choose a:nth-child(5) {
    background: #FCFF00; }
  .dd-options-wrap .dd-color-choose a:nth-child(6) {
    background: #FF86D9; }
  .dd-options-wrap .dd-color-choose a:nth-child(7) {
    text-decoration: underline; }
  .dd-options-wrap .dd-format a {
    border: 1px solid #C2B8B2;
    background: #fff; }
  .dd-options-wrap .dd-format a:nth-child(2) {
    width: 20px;
    height: 20px; }
  .dd-options-wrap .dd-format a:nth-child(3) {
    width: 12px;
    height: 20px; }
  .dd-options-wrap .dd-format a:nth-child(4) {
    width: 20px;
    height: 12px; }

/* ╨С╨╗╨╛╨║ ╤Б ╤В╨╛╨▓╨░╤А╨░╨╝╨╕ ============================*/
.ah-popular-item2 {
  padding: 0;
  margin-bottom: 25px; }
  .ah-popular-item2 .ah-popular-imgbox3 img {
    width: 100%; }
  .ah-popular-item2 .ah-ittext2 {
    margin: 0 11px 10px; }
  .ah-popular-item2 .dd-wrap-price {
    padding-right: 11px;
    padding-left: 11px;
    height: 53px; }
    .ah-popular-item2 .dd-wrap-price .ah-itleft2 {
      padding-bottom: 6px; }
      .ah-popular-item2 .dd-wrap-price .ah-itleft2 .ah-itleft-span3 {
        padding-top: 12px; }
      .ah-popular-item2 .dd-wrap-price .ah-itleft2 .ah-itleft-span4 {
        padding-top: 1px; }
    .ah-popular-item2 .dd-wrap-price .ah-itright2 {
      padding-top: 5px; }

.ah-popular-item3 {
  background: #FAFAFA;
  padding: 104px 0px; }
  .ah-popular-item3 .dd-img-next {
    width: 49px;
    margin: 0 auto; }
  .ah-popular-item3 .dd-item-txt {
    text-align: center; }
    .ah-popular-item3 .dd-item-txt span {
      font-family: "OpenSans-LightOpenSans-Light";
      font-size: 24px;
      color: #C7C3B7; }

/* ╨Я╨░╨│╨╕╨╜╨░╤Ж╨╕╤П ==================================*/
.dd-pagination {
  text-align: center;
  margin-bottom: 83px; }
  .dd-pagination a {
    display: inline-block;
    background: #fff;
    border: 1px solid #FFA630;
    padding: 5px 13px;
    border-radius: 4px;
    color: #928779;
    font-family: "OpenSans-Regular";
    font-size: 16px;
    transition: 0.5s;
    margin-left: 8px; }
  .dd-pagination span {
    color: #928779;
    display: inline-block;
    font-family: "OpenSans-Regular";
    line-height: 14px;
    vertical-align: bottom;
    margin-left: 8px; }
  .dd-pagination .active {
    background: #FFA630;
    color: #000000; }
  .dd-pagination a:hover {
    background: #FFA630;
    color: #000000; }

/* ╨б╨╗╨░╨╣╨┤╨╡╤А ====================================*/
.pop-slider {
  position: relative; }
  .pop-slider .item {
    width: 100%; }
    .pop-slider .item .ah-popular-item {
      margin: 14px; }
  .pop-slider .owl-controls .owl-nav .owl-prev {
    position: absolute;
    top: 50%;
    transform: translate(0%, -50%);
    width: 58px;
    height: 58px; }
    .pop-slider .owl-controls .owl-nav .owl-prev .prev-ars1 {
      display: inline-block;
      background: #FAFAFA url(../img/left.png) no-repeat center;
      width: 58px;
      height: 58px;
      border: 1px solid #E4E6E8;
      border-radius: 30px; }
  .pop-slider .owl-controls .owl-nav .owl-next {
    position: absolute;
    top: 50%;
    transform: translate(0%, -50%);
    right: 0; }
    .pop-slider .owl-controls .owl-nav .owl-next .next-ars1 {
      display: inline-block;
      background: #FAFAFA url(../img/right.png) no-repeat center;
      border: 1px solid #E4E6E8;
      border-radius: 30px;
      width: 58px;
      height: 58px; }

.paddings {
  padding-left: 0 !important;
  padding-right: 0 !important; }

.xa-popular2 {
  padding-top: 0; }

/*=============================================*/
@media only screen and (min-width: 768px) {
  .dd-options-wrap {
    display: table;
    width: 100%; }
    .dd-options-wrap .dd-block {
      display: table-cell;
      vertical-align: top; }
    .dd-options-wrap .dd-plitka {
      display: table-cell;
      vertical-align: middle; }
    .dd-options-wrap .dd-color-choose {
      display: table-cell;
      vertical-align: middle; }
      .dd-options-wrap .dd-color-choose span {
        vertical-align: top; }
      .dd-options-wrap .dd-color-choose a:nth-child(7) {
        vertical-align: top; }
    .dd-options-wrap .dd-format {
      display: table-cell;
      vertical-align: middle;
      width: 132px; }
      .dd-options-wrap .dd-format span {
        vertical-align: top; }
      .dd-options-wrap .dd-format a:nth-child(4) {
        vertical-align: top;
        margin-top: 4px; }

  /*-------------------------------------------*/
  .dd-cat-menu-wrap {
    background: #ECECEC; }
    .dd-cat-menu-wrap .dd-cat-menu ul li {
      display: inline-block;
      width: 276px;
      margin: 0 auto; }
      .dd-cat-menu-wrap .dd-cat-menu ul li a {
        display: inline-block;
        font-family: 'MarckScript-Regular';
        padding: 15px 0 15px 65px; }
    .dd-cat-menu-wrap .dd-cat-menu ul li:nth-child(1) {
      width: 208px; }
    .dd-cat-menu-wrap .dd-cat-menu ul li:nth-child(2) {
      width: 302px; }
    .dd-cat-menu-wrap .dd-cat-menu ul li:nth-child(3) {
      background: url(../img/m3.png) no-repeat left 25px center;
      padding-left: 21px;
      width: 238px; }
    .dd-cat-menu-wrap .dd-cat-menu ul li:nth-child(4) {
      width: 234px; }
    .dd-cat-menu-wrap .dd-cat-menu ul li:nth-child(5) {
      width: 167px; }

  /* Sub-menu ===============================*/
  .dd-sub-menu-wrap {
    display: none; }
    .dd-sub-menu-wrap .dd-sub-menu ul li {
      display: inline-block;
      height: 40px;
      margin-left: 20px;
      padding-left: 70px;
      margin-bottom: 11px;
      width: 171px; }

  /*=========================================*/
  .ab-choose .ab-img-box {
    float: left;
    height: 278px;
    width: 227px; }
  .ab-choose .box2 {
    padding-top: 57px; }
  .ab-choose .box3 {
    padding-top: 30px; }
  .ab-choose .box5 {
    float: right;
    padding-top: 60px; } }
@media only screen and (min-width: 992px) {
  .ab-choose {
    padding-top: 25px; }
    .ab-choose .ab-img-box {
      float: left;
      height: 278px;
      width: 188px; }
    .ab-choose .box2 {
      padding-top: 57px; }
    .ab-choose .box3 {
      padding-top: 26px; }
    .ab-choose .box4 {
      padding-top: 23px; }
    .ab-choose .box5 {
      float: left;
      padding-top: 36px; } }
@media only screen and (min-width: 1248px) {
  .ab-choose .ab-img-box {
    float: left;
    height: 278px;
    width: 227px; } }

/*# sourceMappingURL=style4.css.map */
